<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<head>
<title>Syllog</title>
</head>

<body>
  <h1>Welcome to Syllog</h1>

  <p>This is a research project of Aalborg University and the Artic
    University of Norway.</p>

  <p>Please use one of these entry points:</p>

  <ul>
    <li><p><a href="webapp/"><b>Current version</b></a><br></p><p>&nbsp;</p></li>
    <li><a href="test2018/">The 2018 version</a></li>
    <li><a href="test2015a/">The 2015a version</a></li>
    <li><a href="test2015b/">The 2015b version</a></li>
    <li><a href="test8/">The version known as 'test8'</a></li>
    <li><a href="test6/">The version known as 'test6'</a></li>
  </ul>

  <p>Enjoy!</p>
</body>
</html>
